<%- include("partials/header") %>

    <!-- Page Top section -->
	<section class="page-top-section-2 set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container">
			<h2>Reservation</h2>
			<div class="site-breadcrumb">
				<a href="/">Home</a> / <span>Reservation</span>
			</div>
		</div>
	</section>
	<!-- Page Top section end -->


	<!-- Details section -->
	<section class="domain-search-section sc-about-page">
		<div class="container">
			<div class="section-title">
				<img src="./img/section-title-icon.png" alt="#">
				<p>The best out there</p>
				<h2>Movie Details</h2>
			</div>
		</div>
	</section>
	<!-- Details section end -->

	<!-- About section -->
	<section class="about-section spad pt-0">
		<div class="container">
            <div class="col-lg-4 container" id="currentReservation"> 
            </div>
			<div class="row">
				<div class="col-md-6 about-text">
					<h3><%= showMovie.title %></h3>
					<p>Genre: <%- showMovie.genres.toString() %><br>
                    Rating: <%= showMovie.rating %><br>
                    Duration: <%= showMovie.runtime %> mins<br>
                    Synopsis: <%= showMovie.synopsis %></p>
				</div>
				<div class="col-md-6">
					<img src="<%= showMovie.image %>">
                </div>
            </div>
            <div class="row spad">
                <table>
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Date</th>
                            <th>Cinema</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% showSchedules.forEach(function(schedule){ %>
                        <tr>
                            <td><%= showMovie.title %></td>
                            <td><%- schedule.schedule.toLocaleString() %></td>
                            <td><%= schedule.cinema %></td>
                            <td>Php <%= schedule.price %>.00</td>
                            <td><a href="/reservation/<%= showMovie._id %>/<%= schedule._id %>" class="btn btn-primary btn-sm">Reserve</a></td>
                        </tr>
                        <% }); %>
                        <column name="title"></column>
                    </tbody>
                </table>
            </div>
		</div>
	</section>
	<!-- About section end -->

<%- include("partials/footer") %>